body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:3fr 20fr 1fr;
    background-color: #FFF;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    padding: 0;
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
}
.header {
    padding: 20px 10px 10px 10px;
    grid-column: 2;
    grid-row: 1;
    background-color:#FFF;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px black;
    /* border-bottom: black 1px solid; */
}
.header #searchBar {
    /* margin:10px; */
    border-radius: 20px;
    width: 80%;
    height: 50px;
    background-color: #f5f3ff;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-image: url('../search.png');
    /* background-position: 10px 10px; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    /* padding-left: 20px; */

}
.header #searchIcon{
    font-size: 2rem;
    place-self: center;
    /* padding-left: 20px; */
}
.header #notifIcon {
    margin-left: auto;
    font-size:3rem;
    place-self: center;
    /* padding: 10px; */
}
.header .userProfile {
    display: flex;
    font-size: 1.5rem;
    place-self: center;
    padding-right: 30px;
    text-align: center;
    align-items: center;
}
.header .title {
    display: block;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    width: 80%;
    /* margin: 10px; */
    /* padding: 20px; */
}
.header .push {
    margin-left: auto;
}
.header button {
    background-color: blueviolet;
    border: aliceblue 0px solid;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, 1);
    border-radius: 10%;
    width: 100px;
    height: 50px;
    margin: 5px;
    color: #FFF;
    font-size: 1.5rem;
    align-self: center;
}
.header button:hover {
    font-size: 1.6rem;
    background-color: rgb(132, 0, 255);
    transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* text-indent: 10px; */
    /* box-shadow: 1px 1px 3px rgb(255, 255, 255); */
}
.sidebar {
    grid-column: 1;
    grid-row: 1/ -1;
    background-color: blueviolet;
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sidebar .logo {
    height: 100px;
    font-size: 3rem;
    padding: 5%;
}
.sidebar nav li {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar span {
    margin-right: 20px;
}
.sidebar nav a {
    text-decoration: none;
    color: aliceblue;
}
.sidebar nav li:hover {
    box-shadow: 0px 1px 3px;
    padding-left: 55px;
    transition: padding 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #f5f3ff;
    box-shadow: 1px 0px 3px;
    padding: 20px;
}
.main .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:70px;
    padding: 20px;
}
.main .project {
    display: flex;
    flex-direction: column;
    border: 0px solid;
    padding: 30px;
    margin: 5px;
    background-color: #FFF;
    width: 90%;
    border-radius: 30px;
    border-left: 10px solid rgb(126, 30, 91);
    box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.4);
    font-size: 1.3rem;
}
.project-title {
    padding-bottom: 10px;
    font-size: 2rem;
}
.project .actions {
    font-size: 2.5rem;
    padding-top: 50px;
    justify-self:end;
    align-self:flex-end;
}
.project .actions span:hover {
    border-radius: 20%;
}
.project .actions span:hover {
    /* box-shadow: 0px 10px 10px rgba(1, 1, 1, 0.4); */
    text-shadow: 2px 2px 5px rgba(1, 1, 1, 0.6);
    /* color: rgb(47, 47, 47); */
    transition: text-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main .announcements {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px;
}
.announcements .tab-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.announcements .tab-text {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 3px 3px 10px rgba(1, 1, 1, 0.3);
}
.announcements .tab2 .userProfile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.announcements .tab2 .userProfile:hover {
    background-color:  rgba(225, 176, 201, 0.1);
    transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.announcements .tab2 .userProfile >* {
    flex-grow: 0;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.footer {
    grid-column: 1/-1;
    grid-row: 3;
    background-color: azure;
}
/* DIVDER */ 
hr.rounded {
    /* border-top: 5px solid #bbb; */
    /* border-radius: 1px; */
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0px 1px;
}