body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:3fr 20fr 1fr;
    background-color:bisque;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    list-style: none;
    padding: 0;
}
.header {
    padding: 40px 20px 20px 20px;
    grid-column: 2;
    grid-row: 1;
    background-color:#FFF;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px black;
    /* border-bottom: black 1px solid; */
}
.header #searchBar {
    margin:10px;
    border-radius: 20px;
    width: 80%;
    height: 50px;
    background-color: #f5f3ff;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-image: url('../search.png');
    /* background-position: 10px 10px; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    /* padding-left: 20px; */

}
.header #searchIcon{
    font-size: 2rem;
    place-self: center;
    /* padding-left: 20px; */
}
.header #notifIcon {
    margin-left: auto;
    font-size:3rem;
    place-self: center;
    padding: 10px;
}
.header .userProfile {
    font-size: 1.5rem;
    place-self: center;
    padding-right: 30px;
}
.header .title {
    display: block;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    width: 80%;
    margin: 10px;
    /* padding: 20px; */
}
.header .push {
    margin-left: auto;
}
.header button {
    background-color: blueviolet;
    border: aliceblue 0px solid;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, 1);
    border-radius: 10%;
    width: 100px;
    height: 50px;
    margin: 5px;
    color: #FFF;
    font-size: 1.5rem;
    align-self: center;
}
.header button:hover {
    font-size: 1.6rem;
    background-color: rgb(132, 0, 255);
    transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* text-indent: 10px; */
    /* box-shadow: 1px 1px 3px rgb(255, 255, 255); */
}
.sidebar {
    grid-column: 1;
    grid-row: 1/ -1;
    background-color: blueviolet;
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sidebar .logo {
    height: 100px;
    font-size: 3rem;
    padding: 5%;
}
.sidebar nav li {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar span {
    margin-right: 20px;
}
.sidebar nav a {
    text-decoration: none;
    color: aliceblue;
}
.sidebar nav li:hover {
    box-shadow: 0px 1px 3px;
    padding-left: 55px;
    transition: padding 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main {
    grid-column: 2;
    grid-row: 2;
    background-color: #f5f3ff;
    box-shadow: 1px 0px 3px;
}
.footer {
    grid-column: 1/-1;
    grid-row: 3;
    background-color: azure;
}
